{% extends 'Blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
    <p>{{ article.publish }}</p>
    <h3>{{ article.title }}</h3>
    <b>{{ article.task }}</b>
</div>
{% endblock %}

<!--{% for i in article %}-->
<!--    <div class="alert-warning mt-3", class="container">-->
<!--        <p>{{ i.created_dt }}</p>-->
<!--        <h3>{{ i.title }}</h3>-->
<!--        <b>{{ i.task }}</b>-->
<!--        <b>{{ i.slug }}</b>-->
<!--    </div>-->
<!--{% endfor %}-->